<ion-content [fullscreen]="true">
  <div class="container" *ngFor="let surahs of surah; let i = index">
    <div class="contenu">
      <ion-badge slot="start">{{ surahs.number }}</ion-badge>
      <div>
        <h1>{{ surahs.englishName }}</h1>
        <p>{{ surahs.name }}</p>
      </div>
    </div>
    <div class="name">
      <ion-icon name="play" (click)="openAudio(surahs)"></ion-icon>
    </div>
  </div>

  <!-- Ajoutez une section pour afficher le statut de lecture -->
  <!-- <div *ngIf="isPlaying" class="status">
    
    <p>Lecture en cours : Verset {{ indexVerse + 1 }} / {{ surahAudio.length }}</p>
  </div> -->
</ion-content>