<ion-content>
  <div id="container" style="display: grid;">
    <div class="img">
      <img src="../../assets/images/logo.png" alt="" style="border-radius: 50%; width: 80%; height: 80%;margin-left: 3vh;">
    </div>
  </div>
  <div class="h3">
    <h3 style="text-align: center" >Mosque Koita</h3>
  </div>
  
  
  
  <div class="card">
    <!-- <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card> -->
    <ion-card style="border-radius: 25px;">
      <div class="logoimg"><img alt="Silhouette of mountains" src="../../assets/images/horaire.png" /></div>
      <ion-card-header>
        <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Horaire</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <ion-card style="border-radius: 25px;">
      <div class="logoimg" style="background-color: #fff;"><img alt="Silhouette of mountains" src="../../assets/annonce.png" /></div>
      <ion-card-header>
        <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F; ">Annonce</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <!---->
    <ion-card style="border-radius: 25px;">
      <div class="logoimg" style="background-color: #fff;"><img style="margin-top: 0;" alt="Silhouette of mountains" src="../../assets/images/programme.png" /></div>
      <ion-card-header>
        <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;">Programme</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <!---->
    <ion-card style="border-radius: 25px;" id="card">
      <div class="logoimg" style="background-color:#D9D9D9; height: 155%;"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/images/document.png" /></div>
      <ion-card-header style="margin-top: auto;">
        <ion-card-title ><p style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F; margin-bottom: auto;">Document</p></ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
  
  </div>
  <!---->
  <div class="footer">
    <div class="img1" style="margin-left: 3vh;">
      <img src="../../assets/accueil (2).png" alt="accueil">
    </div>
    <div style="margin-left: 25vh;">
      <img style="float: right;" src="../../assets/images/profile.png" alt="profile">
    </div>
  </div>
  
  </ion-content>
