<ion-content>
  <div id="container" style="display: grid;">
    <div class="img">
      <img src="../../assets/images/logo.png" alt="" style="border-radius: 50%; width: 80%; height: 80%;margin-left: 3vh;margin-bottom: auto;">
    </div>
  </div>
  <div class="h3">
    <h3 style="text-align: center;" >Mosque Koita</h3>
  </div>
  
  <div class="card">
   
    <ion-card style="border-radius: 25px;" >
      <div class="logoimg"><img alt="Silhouette of mountains"  [routerLink]="['./horaire']"  src="../../assets/images/horaire.png" /></div>
      <ion-card-header [routerLink]="['./horaire']" >
        <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Horaire</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <ion-card style="border-radius: 25px;">
      <div class="logoimg" style="background-color: #fff;"><img [routerLink]="['./annonce-liste']" alt="Silhouette of mountains" src="../../assets/annonce.png" /></div>
      <ion-card-header  [routerLink]="['./annonce-liste']">
        <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F; ">Annonce</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <!---->
    <ion-card style="border-radius: 25px;">
      <div class="logoimg" style="background-color: #fff;"><img style="margin-top: 0;" [routerLink]="['./programme-liste']" alt="Silhouette of mountains" src="../../assets/images/programme.png" /></div>
      <ion-card-header [routerLink]="['./programme-liste']">
        <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;">Programme</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <!----->
    <ion-card style="border-radius: 27px;" id="card">
      <div class="logoimg" style="background-color:#D9D9D9; height: 141%;"><img style="margin-top: 1rem;" [routerLink]="['./document-liste']" alt="Silhouette of mountains" src="../../assets/images/document.png" /></div>
      <ion-card-header style="margin-top: auto;" [routerLink]="['./document-liste']">
        <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F; margin-bottom: auto;margin-left: -10px;margin-top: 5px;">Document</ion-card-title>
      </ion-card-header>
    </ion-card>

  </div>
  <!---->
  <!-- <div class="footer">
    <div class="img1" style="margin-left: 3vh;">
      <img src="../../assets/accueil (2).png"  alt="accueil">
    </div>
    <div style="margin-left: 25vh;">
      <img style="float: right;"  routerLink="/profile-admin-mosque" src="../../assets/images/profile.png" alt="profile">
    </div>
  </div> -->
  
  </ion-content>
