<ion-content>
  <!-- <div id="container" style="display: grid;"> -->
    <div id="img" class="animate__animated animate__fadeInDown ">
      <img src="../../assets/images/logo.png" alt="" style="border-radius: 50%; width: 80%; height: 80%;margin-left: 3vh;">
    </div>
  <!-- </div> -->
  <div class="h3">
    <h3  class="csss" style="text-align: center;font-weight: 900;" >Mosque Koita</h3>
  </div>
  <div style="align-items: center; text-align: center;"  class="animate__animated  animate__bounce">
    <ion-card style="border-radius: 25px; width: 90%; text-align: center; margin: auto;" >
      <div class="logoimg"><img alt="Silhouette of mountains"  [routerLink]="['./info-mosque']"  src="../../../assets/images/mosqueeee 1.png" /></div>
      <ion-card-header [routerLink]="['./info-mosque']" >
        <ion-card-title  class="csss">Information</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  
  <div id="carde" class="animate__animated  animate__bounce">
   
    <ion-card style="border-radius: 25px;" >
      <div class="logoimg"><img alt="Silhouette of mountains"  [routerLink]="['./horaire']"  src="../../assets/images/horaire.png" /></div>
      <ion-card-header [routerLink]="['./horaire']" >
        <ion-card-title class="csss">Horaire</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <ion-card style="border-radius: 25px;">
      <div class="logoimg" style="background-color: #fff;"><img [routerLink]="['./annonce-liste']" alt="Silhouette of mountains" src="../../assets/annonce.png" /></div>
      <ion-card-header  [routerLink]="['./annonce-liste']">
        <ion-card-title  class="csss">Annonce</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <!---->
    <ion-card style="border-radius: 25px;">
      <div class="logoimg" style="background-color: #fff;"><img style="margin-top: 0;" [routerLink]="['./programme-liste']" alt="Silhouette of mountains" src="../../assets/images/programme.png" /></div>
      <ion-card-header [routerLink]="['./programme-liste']">
        <ion-card-title  class="csss" >Programme</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <ion-card style="border-radius: 25px;" >
      <div class="logoimg"><img alt="Silhouette of mountains"  [routerLink]="['./details-document']"  src="../../../assets/images/document.png" /></div>
      <ion-card-header [routerLink]="['./details-document']">
        <ion-card-title  class="csss">Audios</ion-card-title>
      </ion-card-header>
    </ion-card>

  </div>
  
 
  </ion-content>
