<div id="container">
  <div class="img">
    <img src="../../assets/images/logo.png" alt="">
  </div>
  <form action="">
    <div class="form-controle">
      <div class="log">
        <span><img src="../../assets/icon/nom.png" aria-hidden="true"></span>
        <input type="text" placeholder="votre nom complet ici">
      </div>
      <div class="log">
        <span><img src="../../assets/icon/mail.png" aria-hidden="true"></span>
        <input type="email" placeholder="votremail@gmail.com">
      </div>

      <div class="log">
        <span><img src="../../assets/icon/pass.png" aria-hidden="true"></span>
        <input type="password" placeholder="************">
      </div>
      <div class="log">
        <span><img src="../../assets/icon/vpass.png" aria-hidden="true"></span>
        <input type="password" placeholder="************">
      </div>

    <input type="button" class="inscr" value="S'inscrire" style="background-color: #005B2F; color: white; font-weight: bold;">
    <h4><a routerlink="connexion">J'ai déjà un compte</a></h4>
    <h4><a routerlink="inscription">Connectez-vous avec :</a></h4>
    </div>
    <div class="icones">
      <ion-icon name="logo-google"></ion-icon>
      <ion-icon class="f" name="logo-facebook"></ion-icon>
    </div>
  </form>
</div>
