<ion-header style="background-color: #fff;">
  <div class="box">
    <header>

      <a routerLink="/tabs/tab1">

        <ion-icon name="arrow-undo"></ion-icon>
      </a>
      <div class="title">
        <h1>Radio</h1>
        <span>La liste des radios</span>
      </div>
     
    </header>
  </div> 
  

</ion-header>
<br>
<ion-content [fullscreen]="true" >


  <div class="container" *ngFor="let radio of radios" >

 
  <div class="contenu">

    <ion-badge slot="start">{{radio.id}}</ion-badge>
    <div>
      <h1>{{radio.nom}}</h1>
      <p>{{radio.desc}}</p>
    </div>
  </div>

  <div class="name">
    <p>{{radio.fr}}</p>
    <ion-icon name="play" (click)="openRadio(radio)"></ion-icon>
  </div>

</div>
</ion-content>
