
header{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
    
}
.box{
color: #fff;
padding: 1.5rem;
background: #005B2F;
border-radius: 0 0 150px 0;
border: none;
}
 ion-icon{
    font-size: 40px;
    color: #fff;
}
.search{
    margin: 1rem;
}

.container{
    display: flex; 
    // align-items: center; 
    justify-content: space-between; 
    margin: 15px; 
    border-bottom: 0.5px solid rgb(222, 221, 221);
}
.contenu{
    display: flex;  
    align-items: center; 
    gap: 20px;
}


ion-badge{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 8px;
    background: #005B2F;
    color: #fff;
}
h1 , p{
    font-family: 'Poppins';
}
.name{
    display: flex;
    align-items: center;
    gap: 20px;
}
.name ion-icon {
    color: #333;
    font-size: 18px;
}
@media screen and (max-width: 712px) and (min-width: 712px) {
    ion-icon{
        font-size: 50px;
    }
   .title h1{
        font-size: 30px;
    }
  p{
    font-size: 22px;
   }
   h1{
    font-size: 28px;
   }
   ul li a {
    font-size: 28px;
  }
  span{
    font-size: 20px;
  }
   ion-badge{
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
}
  
  }