<ion-header style="background-color: #fff;">
  <div class="box">
    <header>

      <a routerLink="/tabs/tab1">

        <ion-icon name="arrow-undo"></ion-icon>
      </a>
      <div class="title">
        <h1>Radio</h1>
        <span>La liste des radios</span>
      </div>
     
    </header>
  </div> 
  

</ion-header>
<br>
<ion-content [fullscreen]="true" >


  <div class="container" >

 
  <div class="contenu">

    <ion-badge slot="start">gfdg</ion-badge>
    <div >
      <h1>frvr</h1>
      <p>eeefe</p>
    </div>
  </div>

  <div class="name">
    <p>fbjbjf</p>
  </div>

</div>
</ion-content>

