#container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    margin-bottom: 10px !important;
}
.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10px !important;
    margin-right: 10px !important;
    
}
#card{
    display: grid;
    margin-bottom: 30px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.img{
    display: grid;
    justify-content: center;
    align-items: center;
}
.logoimg{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}
