  <div id="container" style="display: grid; ">
    <div class="img" style="margin-top: 20px; margin-bottom: 10px; box-sizing: border-box;">
      <img src="../../assets/images/logowhite.png" alt="" style="border-radius: 50%;  " width="90px" height="90px">
    </div>
  </div>
<div class="main" style="height: 100%; border-radius: 200px !important;" >
<ion-content class=" animate__animated animate__fadeInDown " >



  <div class="card animate__animated animate__fadeInUp ">
    <!-- <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content> Card Content </ion-card-content>
    </ion-card> -->
    <a routerLink="mosquee" style="text-decoration: none;">
    <ion-card style="border-radius: 25px;">
      <div class="logoimg"><img alt="Silhouette of mountains" src="../../assets/images/mosqueeee 1.png" width="100px" height="80px" /></div>
      <ion-card-header>
        <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Mosquée</ion-card-title>
      </ion-card-header>
    </ion-card>
  </a>
    <!---->
    <a routerLink="coran" style="text-decoration: none;">
    <ion-card style="border-radius: 25px;">
      <div class="logoimg"><img alt="Silhouette of mountains" src="../../assets/images/coran.png" width="100px" height="80px" /></div>
      <ion-card-header>
        <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Coran</ion-card-title>
      </ion-card-header>
    </ion-card>
  </a>
    <!---->
    <!---->
    <a routerLink="calendrier" style="text-decoration: none;">
    <ion-card style="border-radius: 25px;">
      <div class="logoimg"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/images/calendrier.png" width="50px" height="50px" /></div>
      <ion-card-header>
        <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;">Calendrier</ion-card-title>
      </ion-card-header>
    </ion-card>
  </a>
    <!---->
    <!---->
    <a routerLink="pageutiletadmin" style="text-decoration: none;">
    <ion-card style="border-radius: 25px; " id="card">
      <div class="logoimg"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/images/user.png" width="50px" height="50px" /></div>
      <ion-card-header>
        <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;" >Utilisateurs</ion-card-title>
      </ion-card-header>
    </ion-card>
    </a>
    <!---->


  </div>
  <!---->
  <a routerLink="listradio" style="text-decoration: none;">
  <ion-card style="border-radius: 25px;">
    <div class="logoimg"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/images/radio.png" /></div>
    <ion-card-header>
      <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;">Fréquence Radio</ion-card-title>
    </ion-card-header>
  </ion-card>
</a>
  <!---->


</ion-content>
</div>

