<ion-content>
  <div id="container" style="display: grid;">
    <div class="retour">
      <!-- <ion-icon style="margin-left: -95px; width: 30px;"  name="arrow-undo-outline"></ion-icon> -->
      <img src="../../../assets/images/bak.png"  [routerLink]="['../document-liste']" style="margin-left: -95px;" alt="">
    </div>
  <div class="img">
    <img src="../../../assets/images/document.png" alt="horaire" style="border-radius: 1%; width: 20vh; height: 100%;">
  </div>
  <div style="margin-top: -13vh;">
    <h2 style="color: #005B2F; text-align: center; margin-top: 147px;">Document</h2>
  </div>
  </div>
  <div class="form-controle">
    <form action="document-liste" method="post">
    <div>
     <label for="">Nom Document</label>
      <input name="fajr" type="text">  
    </div>
    <div>
      <label for="">Description</label>
      <input name="chorouq" type="text" > 
    </div>
    <div>
      <label for="">Télécharger Fichier</label>
      <input name="chorouq" type="file" > 
    </div>
    
    <input type="submit" value="Modifier" style="background-color: #005B2F; width: 100%; color: white; font-weight: bold;">
  </form>
  </div>
  
  </ion-content>