
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="../details-document" text="Retour"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{nom}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="img_box">
      <img src="../../../assets/images/logowhite.png">
    </div>
    <div id="container">
      <h2>{{nom}}</h2>
      <ion-range min="0" max="100" [value]="progressPercentage" mode="md" color="warning" (click)="barrFile($event)"></ion-range>
      <p>Temps restant: {{ calculateRemainingTime() }}</p>
    </div>
  
    <div class="flex_box">
      <ion-button fill="clear" color="light" (click)="recule()">
        <ion-icon slot="icon-only" name="play-back"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="light" (click)="playPause()">
        <ion-icon slot="icon-only" [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="light" (click)="avance()">
        <ion-icon slot="icon-only" name="play-forward"></ion-icon>
      </ion-button>
    </div>
  </ion-content>
  