<ion-header class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style=" font-size: 50px; margin: 20px; color: #fff;" [routerLink]="['../listutil']"></ion-icon>
  <div id="container" style="display: grid; margin-bottom: 15px;">
    <div class="img">
      <img src="../../assets/images/logo.png" alt="logo"  width="200px" style="border-radius: 50%;">
     <h2 style="font-size: 20px; text-align: center; font-weight: bold; color: #fff;">Detail utilisateur</h2>
    </div>
  </div>
</ion-header>
<ion-content class=" animate__animated animate__fadeInUp ">

  <ion-card style="border-radius: 25px;">
    <div class="logoimg"><img alt="Silhouette of mountains" src="../../assets/images/User1.png" /></div>
    <ion-card-header>
      <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Blonkon Diakité</ion-card-title>
    </ion-card-header>
 <ion-card-content style="text-align: center; justify-content: center; ">
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Email:</strong> blonkondiakité@gmail.com</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Téléphone:</strong> 90 93 90 90</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Role:</strong> utilisateur</ion-label>
 </ion-card-content>
  </ion-card>
 
 
       

  
</ion-content>
  
