.bg-image{
  background-image: url('../../assets/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
 }
 .no-scroll .scroll-content{
   overflow: hidden;
 }