<!-- <div id="container">
  <div class="img">
    <img src="../../assets/images/logo.png" alt="">
  </div>
 <p> <strong>{{ name }}</strong></p>
 <p> <strong style="text-align: center; color: red; font-size: small; padding: 5px;">{{ invalid }}</strong></p>
 <form (ngSubmit)="onSubmit(p)" #p="ngForm">
    <div class="form-controle">
    <div>
      <label>Email</label>
      <input  type="text" name="email" [(ngModel)]="email" required minlength="3" >  
    </div>
    
    <div>
      <label>Mot de passe</label>
      <input name="password" [(ngModel)]="password" > 
    </div>
    <a routerLink="">
      Se connecter
    </a>

  <input type="submit" value="Se connecter"  style="background-color: #005B2F; color: white; font-weight: bold;">
 </div>
</form>
</div> -->
