<div id="container">
  <div class="img">
    <img src="../../assets/images/logo.png" alt="">
  </div>
 <p> <strong>{{ name }}</strong></p>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  <div class="form-controle">
    <div>
      <label>Email ou nom d'utilisateur</label>
      <input>  
    </div>
    
    <div>
      <label>Mot de passe</label>
      <input> 
    </div>

  <input type="button" value="Se connecter" style="background-color: #005B2F; color: white; font-weight: bold;">
  </div>
</div>