<ion-content>
  <div class="retour">
    <!-- <ion-icon style="margin-left: -95px; width: 30px;"  name="arrow-undo-outline"></ion-icon> -->
    <img src="../../../assets/images/bak.png"  [routerLink]="['../programme-liste']" style="margin-top:  20px;" alt="">
  </div>
  <div id="container" style="display: grid;">
    
  <div class="img">
    <img src="../../../assets/images/programme.png" alt="horaire" style="border-radius: 1%; width: 20vh; height: 100%;">
  </div>
  <div style="margin-top: -13vh;">
    <h2 style="color: #005B2F; text-align: center; margin-top: 104px;font-weight: 900;">Programme</h2>
  </div>
  </div>
  <div class="form-controle">
    <form action="programme-liste" method="post">
    <div>
     <label for="">Nom Programme</label>
      <input name="nomP" type="text">  
    </div>
    <div>
      <label for="">Date</label>
      <input name="date" type="date" > 
    </div>
    <div>
      <label for="">Heure</label>
      <input name="heure" type="time" > 
    </div>
    <div>
      <label for="">Description</label>
      <textarea style="margin: 15px;" name="description" id="" cols="30" rows="5"></textarea>
    </div>
   
    <input type="submit" value="Enregistrer" style="background-color: #005B2F;width: 100%; color: white; font-weight: bold;">
    </form>
  </div>

  
  </ion-content>