<div id="container">
  <div class="img">
    <img src="../../assets/images/logo.png"  alt="" style="border-radius: 50%;">
    <hr>
  </div>
 
 <div class="form-controle">
    <div>
     
      <input name="nom" type="text" placeholder="Nom Complet">  
    </div>
    <div>
      
      <input name="email" type="email" placeholder="Email"> 
    </div>
    <div>
      
      <input name="telephone" type="text" placeholder="Téléphone"> 
    </div>
    <div>
    
      <input name="motdepasse" type="password" placeholder="Mot de Passe"> 
    </div>
    <div>
    
      <input name="confirme" type="password" placeholder="Confirmer Mot de Passe"> 
    </div>
  <input type="button" value="Creer un Compte" style="background-color: #005B2F; color: white; font-weight: bold;">
  </div>
  <div>
    <p style="margin-left: 5vh;">Vous avez déjà un compte ? <strong style="color: #005B2F;">connecter-vous</strong> </p>
  </div>
</div>
