<ion-content>
<div id="container" style="display: grid;">
<div class="img">
  <img src="../../../assets/images/Rectangle 17.png" alt="horaire" style="border-radius: 1%; width: 20vh; height: 100%;">
</div>
<div style="margin-top: -13vh;">
  <h2 style="color: #005B2F; text-align: center; margin-top: 78px;">Annonce</h2>
</div>
</div>
<div class="form-controle">
  <div>
   <label for="">Titre D'annonce</label>
    <input name="fajr" type="text">  
  </div>
  <div>
    <label for="">Description</label>
    <input name="chorouq" type="text" > 
  </div>
  <input type="button" value="Enregistrer" style="background-color: #005B2F; color: white; font-weight: bold;">
  
</div>

</ion-content>