<ion-header class="head">
  <ion-icon name="arrow-undo" style=" font-size: 50px; margin: 10px; color: #fff;" [routerLink]="['../listutil']"></ion-icon>
  <div id="container1" style="display: grid;">
    <div class="img">
      <img src="../../assets/images/logo.png" alt="logo"  width="200px" style="border-radius: 50%;">
     <h2 style="font-size: 20px; text-align: center; font-weight: bold; color: #CE720D;">Modifier utilisateur</h2>
    </div>
  </div>
</ion-header>
<ion-content>
  <div id="container"  style="margin-top: 30px; margin-bottom: 30px;">
    <div class="img">
      <img src="../../assets/images/User1.png" alt="" style="border-radius: 50%; width: 150px; height: 150px;">
      <h2 style="text-align: center; color: #005B2F;"> Ibrahim Sy</h2>
    </div>
   
          <div class="form-controle" style="margin-top: 15px;">
          <label for="">
            Email: ibram10sy@gmail.com
          </label> 
          <label for="">
            Téléphone: 90 89 00 56
          </label>     
 <div>
        <label>Role</label>
        <input type="text">
        </div>
      
      <div>
        <label>Mosque</label>
        <input> 
      </div>
      <a [routerLink]="['../listutil']">
        Modifier
      </a>
  
      
      
     
    
    </div>
  </div>
       

  
</ion-content>
  
