.logo {
    width: 50%;
     margin-left: 25%;
}
.card {
    width :50%;
    border-radius: 30px;
}
.allCard {
    display: flex;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-family: poppins;
}

ion-card-title {
    font-size: 16px;
}