<ion-content>
  <div class="retour">
    <!-- <ion-icon style="margin-left: -95px; width: 30px;"  name="arrow-undo-outline"></ion-icon> -->
    <img src="../../../assets/images/bak.png"  [routerLink]="['../annonce-liste']" style="margin-top: 20px;" alt="">
  </div>
  <div id="container" style="display: grid;">
    
  <div class="img">
    <img src="../../../assets/images/Rectangle 17.png" alt="horaire" style="border-radius: 1%; width: 20vh; height: 100%;">
  </div>
  <div style="margin-top: -13vh;">
    <h2 style="color: #005B2F; text-align: center; margin-top: 147px;">Annonce</h2>
  </div>
  </div>
  <div class="form-controle">
    <form action="annonce-liste" method="post" >
      <div>
        <label for="">Titre D'annonce</label>
        <input name="titre" value="" type="text">  
      </div>
       <div>
         <label for="">Description</label>
         <input name="description" value="" type="text" > 
       </div>
       <input type="submit" value="Modifier" style="background-color: #005B2F; width: 100%; color: white; font-weight: bold;">
  </form>
  </div>
  
  </ion-content>