<ion-content>
  <div class="retour">
    <!-- <ion-icon style="margin-left: -95px; width: 30px;"  name="arrow-undo-outline"></ion-icon> -->
    <img src="../../../assets/images/bak.png"  [routerLink]="['../']" style="margin-top: 20px;" alt="">
  </div>
  <div id="container" style="display: grid;">
   
    <div class="img">
      <img src="../../../assets/images/document.png" alt="horaire" style="border-radius: 1%; width: 20vh; height: 100%;">
    </div>
    <div style="margin-top: -9vh;">
      <h2 style="color: #005B2F; text-align: center; margin-top: 78px;">Document</h2>
    </div>
    </div>
    <div>
      <ion-button [routerLink]="['../document-ajouter']" shape="round" class="bbb" style=" --background: var(--ion-color, #005B2F); height: 10px;margin-left: 15px;">Ajouter</ion-button>
    </div>
    <ion-list>
      <ion-item class="liste"  *ngFor="let element of data">
       
        <ion-label style="max-width: 100%; margin-bottom: 5px;" [routerLink]="['../details-document']" class="ion-label">{{element.nom}} </ion-label>   
        <div class="iconitem">
          <ion-icon name="eye-outline" style="width: 20px; height: 20px;margin-right: 10px;"></ion-icon>
          <!-- <ion-icon name="create-outline" style="color: #005B2F;width: 25px; height: 20px;" [routerLink]="['../annonce-update']" ></ion-icon> -->
        <ion-icon name="trash" style="color: red; width: 25px; height: 20px;"   id="present-alert" (click)="presentAlert()" ></ion-icon>
        </div>
      </ion-item>
    </ion-list>
    
    <ion-modal
    trigger="open-modal3"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle">
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top">
          <ion-label style="font-size: x-large;">Voulez-vous supprimer !</ion-label>
        </div>
        <div class="modalB">
          <ion-button class="non" size="small">NON</ion-button>  <ion-button class="oui" size="small">OUI</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  </ion-content>
  
