<ion-content>
  <div id="container" style="display: grid;">
    <div class="img">
      <img src="../../assets/images/user.png" alt="" style="border-radius: 50%; width: 80%; height: 80%;">
    </div>
  </div>
  
  
  
  <div class="card">
    <!-- <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card> -->
    <ion-card style="border-radius: 25px;">
      <div class="logoimg"><img alt="Silhouette of mountains" src="../../assets/images/mosqueeee 1.png" /></div>
      <ion-card-header>
        <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Utilisateurs</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
    <ion-card style="border-radius: 25px;">
      <div class="logoimg"><img alt="Silhouette of mountains" src="../../assets/images/coran.png" /></div>
      <ion-card-header>
        <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Admin mosquée</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!---->
   
    <!---->
    
  
  </div>
  <!---->
  <ion-card style="border-radius: 25px;">
    <div class="logoimg"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/images/radio.png" /></div>
    <ion-card-header>
      <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;">Admin</ion-card-title>
    </ion-card-header>
  </ion-card>
  <!---->
  
  </ion-content>
  