<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Page-Accueil-Admin-mosque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Page-Accueil-Admin-mosque</ion-title>
    </ion-toolbar>
  </ion-header>
  
</ion-content>
<ion-footer>
  <div class="footer">
    <div class="img1" style="margin-left: 3vh;">
      <img src="../../assets/accueil (2).png" alt="accueil">
    </div>
    <div style="margin-left: 25vh;">
      <img style="float: right;" routerLink="/profile-admin-mosque" src="../../assets/images/profile.png" alt="profile">
    </div>
  </div>
</ion-footer>
