<!-- <ion-header  >
  <ion-icon name="arrow-undo" style=" font-size: 25px; margin: 20px; color: #fff;" [routerLink]="['']"></ion-icon>
  <div id="container" style="display: grid;">
    <div class="img">
      <img src="../../assets/images/userwhite.png" alt="">
      <h2 style="text-align: center; color: #fff;">Utilisateurs & Admin</h2>
    </div>
  </div>
</ion-header> -->

<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px; color: #fff;" [routerLink]="['../'] "></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/images/userwhite.png" alt="" width="40px" height="40px">
    <p style="margin-right: 40px; color: #fff;"> Utilisateurs & Admin </p>
  </div>
</div>
<ion-content >
   
  <div class="card animate__animated animate__fadeInUp " style="margin-top: 50px;">
    <!-- <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Card Content </ion-card-content>
    </ion-card> -->
    <a routerLink="../listutil" style="text-decoration: none;">
      <ion-card style="border-radius: 25px;">
        <div class="logoimg"><img style="margin-top: 10px;" alt="Silhouette of mountains" src="../../assets/images/utilisateur.png"  width="80px" height="60px" /></div>
        <ion-card-header>
          <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Utilisateurs Simple</ion-card-title>
        </ion-card-header>
      </ion-card>
    </a>
    
    <!---->
    <a routerLink="../listadminmos" style="text-decoration: none;">
    <ion-card style="border-radius: 25px;">
      <div class="logoimg"><img style="margin-top: 10px;" alt="Silhouette of mountains" src="../../assets/images/admin.png"  width="80px" height="60px" /></div>
      <ion-card-header>
        <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Admin mosquée</ion-card-title>
      </ion-card-header>
    </ion-card>
    </a>
    <!---->
   
    <!---->
    
  
  </div>
  <!---->
  <a routerLink="../listadmin" style="text-decoration: none;" [ngStyle]="{ 'display': !active() ? 'none' : 'block' }">
  <ion-card style="border-radius: 25px;">
    <div class="logoimg"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/images/admin.png"  width="80px" height="60px" /></div>
    <ion-card-header>
      <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;">Admin principal</ion-card-title>
    </ion-card-header>
  </ion-card>
</a>
  <!---->
  
  </ion-content>
  