
ion-header {
    background-color: transparent; 
  }
  
  .box {
    background-color: #005B2F; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  header {
    display: flex;
    align-items: center;
    gap: 4rem;
    color: #fff;
  }
  .title h1{
    color: #fff;
  }
  ion-icon{
    font-size: 30px;
  }
.card-content {
    background-color: #fff; 
    border-radius: 0 0 10px 10px; 
    padding: 20px;
    text-align: justify; 
    height: auto !important;
  }
  
  h1 {
    // font-size: 25px;
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  ion-badge {
    background: #005B2F; 
    color: #fff; 
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 50%;
    text-align: center; 
  }
  
  .ayah-text {
    font-size: 18px;
    color: #333; 
    margin-bottom: 12px;
    line-height: 1.5rem;
    text-align: justify; 
  }
  .container{
    background-color: #D9D9D9;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 5%;
  }