<!-- 
<ion-header style="background-color: #fff;">
  <div class="box">
    <header>
      <ion-icon matDialogClose name="close-circle"></ion-icon>
      <div class="title">
        <h1>{{detailSourate.englishName}}</h1>
      </div>
     
    </header>
  </div>
<ion-content [fullscreen]="true">


  <h3>Ayahs : <span>{{detailSourate.name}}</span></h3>
  <div *ngFor="let ayah of detailSourate.ayahs ">
    <ion-badge slot="start">{{ayah.number}}</ion-badge>
    <p class="ayah-text">{{ ayah.text }}</p>
  </div>

</ion-content>
 -->
