

<ion-header style="background-color: #fff;">
  <div class="box">
    <header>
      <ion-icon matDialogClose name="close-circle"></ion-icon>
      <div class="title">
        <h1>{{detail.transliteration}}</h1>
      </div>
     
    </header>
  </div>
<ion-content [fullscreen]="true">
 
   <h3>{{detail.transliteration}}</h3>
   <ion-badge slot="start">{{detail.number}}</ion-badge>
  <div>
    
    <p class="ayah-text" >{{ detail.fr.meaning}}</p>
    <p class="ayah-text">{{ detail.fr.desc}}</p>
  </div> 

</ion-content>

