<ion-content [fullscreen]="true">
  <div class="header">

  </div>
  <div class="contenue">
    <img src="../../assets/images/Ellipse 11.png" alt="">
    <h1>Nom et Prenoms</h1>
    <div class="membre">
      <h6>
       Membre depuis 24 Avr 2022
      </h6>
    </div>
    <div class="modifier" [routerLink]="['../profile-update']" >
      <h3>
        Modifier le profil
      </h3>
    </div>
    <div class="comment">
      <img src="../../assets/images/edit.png" alt="img">
      <h3> Laissez nous un commentaire </h3>
    </div>
    <div class="comment">
      <img src="../../assets/images/edit2.png" alt="img">
      <h3> Partagez l'application </h3>
    </div>
    <div class="comment">
      <img src="../../assets/images/edit3.png" alt="img">
      <h3>Faire un don </h3>
    </div>
    <div class="boutton">
      <button  class="deconnexion">Déconnexion</button>
    </div>
    
  </div>
  <div class="footer">
    <div class="img1" style="margin-left: 3vh;">
      <img routerLink="/page-accueil-admin-mosque" src="../../assets/accueil (2).png" alt="accueil">
    </div>
    <div style="margin-left: 25vh;">
      <img style="float: right;" src="../../assets/images/profile.png" alt="profile">
    </div>
  </div>

</ion-content>


