<ion-header class="head">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <ion-icon name="arrow-undo" style="font-size: 30px; margin: 20px; color: #fff;" [routerLink]="['../pageutiletadmin']"></ion-icon>
    <strong style="font-size: 20px; color: #fff; margin: 20px;">23 <i style="font-size: 20px;" class="fa-solid fa-mosque"></i></strong>
  </div>
    <div class="img">
      <img style="width: 60%;margin-left: 22%; margin-top: 0%;" src="../../assets/images/mosqueeee 1.png" alt="">
    </div>
</ion-header>

<ion-content>

  <ion-card style="border-radius: 25px;">
    <div class="logoimg"><img alt="Silhouette of mountains" src="../../assets/images/mosqueeee 1.png" /></div>
    <ion-card-header>
      <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Ah-Rahman</ion-card-title>
    </ion-card-header>
 <ion-card-content style="text-align: center; justify-content: center; ">
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Imam:</strong> Mahi Ouattara</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Rue:</strong> 67</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Porte:</strong> 114</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Quartier:</strong> Sebenikoro</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Téléphone:</strong> 90 93 90 90</ion-label> <br>
 </ion-card-content>
  </ion-card>




