<div id="container" style="display: grid; height: 30%; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../mosquee']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/images/mosqueeee 1.png" alt="" width="80px" height="60px">
  </div>
</div>

<ion-content>

  <ion-card style="border-radius: 25px;">
    <div class="logoimg"><img alt="Silhouette of mountains" src="../../assets/images/mosqueeee 1.png" /></div>
    <ion-card-header>
      <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Ah-Rahman</ion-card-title>
    </ion-card-header>
 <ion-card-content style="text-align: center; justify-content: center; ">
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Imame</strong> Mahi Ouattara</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Nom admin mosque</strong></ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Quartier:</strong> Sebenikoro</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Téléphone:</strong> 90 93 90 90</ion-label> <br>
 </ion-card-content>
  </ion-card>




