<ion-header class="head">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <ion-icon name="arrow-undo" style="font-size: 30px; margin: 20px; color: #fff;" routerLink="../coran"></ion-icon>
  </div>
    <div class="img" style="margin-left: 25%;">
      <img src="../../assets/images/coran.png" alt="">
    </div>
</ion-header>

<ion-content>

  <ion-card style="border-radius: 25px;">
    <div class="logoimg"><img alt="Silhouette of mountains" src="../../assets/images/coran.png" /></div>
    <ion-card-header>
      <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">AL-FATIHA</ion-card-title>
    </ion-card-header>
 <ion-card-content style="text-align: center; justify-content: center; ">
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Imam:</strong> Mahi Ouattara</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Nationalité</strong> Malienne</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Audio:</strong> 1.mp3</ion-label> <br>
 </ion-card-content>
  </ion-card>




