<ion-header class="head">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <ion-icon name="arrow-undo" style="font-size: 30px; margin: 20px; color: #fff;" routerLink="../coran"></ion-icon>
  </div>
    <div class="img" style="margin-left: 25%;">
      <img src="../../assets/images/coran.png" alt="">
    </div>
</ion-header>

<ion-content>

  <div class="img-box" style="margin-left: 25%;" >
    <img alt="" src="../../assets/images/coran.png" />
  </div>

  <div id="container">
    <h2 style="margin-left: 33%;">AL-FATIHA</h2>
    <ion-range min="0" max="100" value="40" mode="md" color="warning"></ion-range>
    <p>Temps restant 13m 12s</p>

    <div class="flex_box" style="margin-top: 5px;">
      <ion-button fill="clear" color="black">
        <ion-icon slot="icon-only" name="play-back"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="black">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="black">
        <ion-icon slot="icon-only" name="play-forward"></ion-icon>
      </ion-button>
    </div>
  </div>

</ion-content>





