<ion-header style="background-color: #fff;">
  <div class="box">
    <header>      
      <a routerLink="/tabs/tab1">
        <ion-icon name="arrow-undo"></ion-icon>
      </a>
      <h1>Coran</h1>
    </header>
  </div>


  <nav>
    <ul>
      <li>
        <a (click)="show = true">Sourates</a>
      </li>
      <li>
        <a (click)="show = false">Liste des lectures</a>
      </li>
    </ul>
  </nav>

  <div class="search">
    <ion-searchbar placeholder="Recherche" [(ngModel)]="SearchText"></ion-searchbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
  
    <div class="sourate" *ngIf="show">

      <ng-container *ngComponentOutlet="sourate"></ng-container>
    </div>
    <div class="lecture" *ngIf="!show">
      <ng-container *ngComponentOutlet="liste"></ng-container>

    </div>
    
   
  </div>
</ion-content>
