<ion-header style="background-color: #fff;">
  <div class="box">
    <header>
      <a tab="tab1" href="/tabs/tab1">
        <ion-icon name="arrow-undo"></ion-icon>
      </a>
      <h1>Coran</h1>
    </header>
  </div>
  
  <!-- <div class="logo">
    <img src="../assets/logo.png">
  </div> -->
  <nav>
    <ul>
      <li>
        <a (click)="show = true">Sourates</a>
      </li>
      <li>
        <a (click)="show = false">Liste des lectures</a>
      </li>
    </ul>
  </nav>
  <!-- <nav>
    <ul>
      <li>
        <a href="/src/app/page/sourate/sourate.page.html">Sourate</a>
      </li>
      <li>
        <a >Liste des lectures</a>
      </li>
    </ul>
  </nav> -->

  <div class="search">
    <ion-searchbar placeholder="Recherche"></ion-searchbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
  
    <div class="sourate" *ngIf="show">
      <ng-container *ngComponentOutlet="componentA"></ng-container>
    </div>
    <div class="lecture" *ngIf="!show">
      <ng-container *ngComponentOutlet="componentB"></ng-container>
    </div>
    
   
  </div>
</ion-content>
