
<div class="head animate__animated animate__fadeInDown " id="container" style="display: grid; margin-bottom: 15px;">
  <ion-icon name="arrow-undo" style=" font-size: 25px; padding: 20px 0 0 20px; color: #fff;" [routerLink]="['../programme-liste']"></ion-icon>
  <div class="img">
    <img src="../../../assets/images/logo.png" alt="logo"  width="100px" height="100px" style="border-radius: 50%;margin-left: 20px;">
   <p style="font-size: 15px; text-align: center; color: #fff;">Detail Programme</p>
  </div>
</div>

<ion-content class=" animate__animated animate__fadeInUp ">

<ion-card style="border-radius: 25px;">
  <div class="logoimg"><img alt="Silhouette of mountains" src="../../../assets/images/programme.png" /></div>
  <ion-card-header>
    <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Mes Programmes</ion-card-title>
  </ion-card-header>
<ion-card-content style="text-align: center; justify-content: center; ">
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Jour:</strong> Lundi</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Heure:</strong> 16h00 - 18h00 </ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Description:</strong> Le chemin vers le paradi </ion-label> <br>

</ion-card-content>
</ion-card>




