
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>accueilsuperadmin</ion-title>
  </ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="body">
    <img src="../../assets/images/logo.png" alt=""><br>

    <div class="a">
      <a href="">Voir la carte</a>
    </div>

    <div class="image">
      <a href="">
        <img src="../../assets/images/map.png" alt="ojsdf">
      </a>
    </div>
  </div>
</ion-content>

 
<!-- methode 2 -->
<ion-content>
  <div class="center-container">
    <div class="boussole">
      <div class="aiguille" [style.transform]="'rotate(' + qiblaDirection + 'deg)'"></div>
      <button class="btn btn-nord">Nord</button>
      <button class="btn btn-est">Est</button>
      <button class="btn btn-sud">Sud</button>
      <button class="btn btn-ouest">Ouest</button>
    </div>
  </div>
</ion-content>
