<ion-header style="background-color: #fff;">
  <div class="box">
    <header>      
      <a routerLink="/tabs/tab1">
        <ion-icon name="arrow-undo"></ion-icon>
      </a>
      <h1>Qhaba</h1>
    </header>
  </div>
</ion-header>
<ion-content [fullscreen]="true">

  <div class="body">
    <img src="../../assets/images/logo.png" alt=""><br>

    <div class="a">
      <a href="">Voir la carte</a>
    </div>

    <div class="image">
      <a href="">
        <img src="../../assets/images/map.png" alt="ojsdf">
      </a>
    </div>
  </div>
</ion-content>

