
<ion-header style="background-color: #fff;">
  <div class="box">
    <header>

      <a routerLink="/tabs/tab1">

        <ion-icon name="arrow-undo"></ion-icon>
      </a>
      <div class="title">
        <h1>Asma Al-Husna</h1>
        <span>Les 99 noms d'Allah</span>
      </div>
     
    </header>
  </div> 
  
  <div class="search">
    <ion-searchbar placeholder="Recherche"></ion-searchbar>
  </div>
 
</ion-header>

<ion-content [fullscreen]="true" >


  <div class="container" *ngFor="let nom of noms ; let i=index">

 
  <div class="contenu">

    <ion-badge slot="start">{{nom.number}}</ion-badge>
    <div >
      <a (click)="openDetail(nom && data[i])"><h1>{{nom.transliteration}}</h1>
      <p>{{data[i].fr.meaning}}</p></a>
    </div>
  </div>

  <div class="name">
    <p>{{nom.name}}</p>
  </div>

</div>
</ion-content>
