<ion-header class="head">
  <ion-icon name="arrow-undo" style=" font-size: 50px; margin: 20px; color: #fff;" [routerLink]="['../pageutiletadmin']"></ion-icon>
  <div id="container" style="display: grid;">
    <div class="img">
      <img src="../../assets/images/user.png" alt="">
     <h2 style="font-size: 20px; text-align: center; font-weight: bold; color: #CE720D;">Liste utilisateus</h2>
    </div>
  </div>
  <strong  style="font-size: 30px; color: #fff; margin: 15px;">200 <ion-icon name="people-outline" style="color: #fff;"></ion-icon></strong>
</ion-header>
<ion-content>
 
  
<div class="listuser">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Abdoulaye Konté</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Mohamed Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Mohamed Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Mohamed Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Mohamed Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Mohamed Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Mohamed Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Mohamed Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Mohamed Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Mohamed Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Mohamed Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;"  />
          </ion-thumbnail>
          <ion-label>Adama Traoré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/images/User1.png" style="border-radius: 50%;" />
          </ion-thumbnail>
          <ion-label>Ely Touré</ion-label>
          <div class="iconitem">
            <ion-icon  name="eye" [routerLink]="['../detailutilisateur']"></ion-icon>
          <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']" ></ion-icon>
          <ion-icon name="trash" style="color: red;" [routerLink]="['../detailutilisateur']"></ion-icon>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
  
</ion-content>
  