<div id="container">
  <form action="">
    <div class="img">
      <img src="../../assets/images/logo.png" alt="">
    </div>
    <!-- <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <div class="form-controle">
      <div>
        <label>Email ou nom d'utilisateur</label>
        <input type="email" placeholder="votremail@gmail.com">
      </div>
  
      <div>
        <label>Mot de passe</label>
        <input type="password" placeholder="************">
      </div>
  
    <input type="button" value="Se connecter" style="background-color: #005B2F; color: white; font-weight: bold;">
    <h4>Pas de compte? <a>Créer un compte</a></h4>
    </div>
  </form>
</div>
