
<div class="img">
    <img src="../../assets/images/logo.png" alt="" width="150px" style="border-radius: 50%;">
    <h2 style="color: #005B2F; margin-left: 20px;">Connexion</h2>
</div>
<ion-content>
  <form action="">
  <!-- <div id="container"> -->
    
   
    <div class="form">
      
      <div>
        <label>Email ou nom d'utilisateur</label>
        <input  type="email" placeholder="votremail@gmail.com" >  
      </div>      
      <div>
        <label>Mot de passe</label>
        <input type="password" placeholder="******************"> 
      </div>
      <a id="a" (click)="navigateToAdminmosque()" style="color: #fff !important;">
        Se connecter
      </a>

        <a class="gtext" style="margin-bottom: 20px;" (click)="navigateToSuperAdmin()" >
            <i>  <img src="../../assets/images/google.png" alt="" width="15px" > Continuer avec google </i>
        </a>

      <h5 style="text-align: center;">Pas de compte? <a (click)="navigateToInscription()" style="color: #005B2F !important; font-weight: bold; padding: 0 10px; margin-left: 10px; border-radius: 5px;">Créer un compte</a></h5>
    </div>
  <!-- </div> -->
  </form>

</ion-content>
