

.img{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
#container strong {
  text-align: center;
  font-size: 20px;
}


#container #a {
  text-decoration: none;
}
.form{
  display: grid;
  gap: 15px;
  margin: 0 30px 0 30px;
}
.form input, #a {
  padding: 12px 0 12px 0;
  border-radius: 15px;
  border: none !important;
 
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 5px 5px 5px 0px rgba(69, 68, 68, 0.5),
   10px 10px 30px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;

}
.form #a{
  background-color: #005B2F; color: white; font-weight: bold;
  padding: 12px 0 12px 0;
  border-radius: 15px;
  text-align: center;
  text-decoration: none !important;
}
.gtext{
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 12px 0 12px 0;
  border-radius: 15px;
  border: #005B2F 1px solid;

}
.form div{
  display: grid;
}
input::placeholder{
  padding-left: 20px ;
}
input:focus{
  color: #005B2F;
  font-weight: bold;
  padding-right: 30px ;
  outline: none;
}

a{
  text-decoration: none;
  color: black !important;
  font-weight: bold ;
  cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 100px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}