  <div class="img">
    <img src="../../assets/images/logo.png" alt="" width="150px">
    <h2 style="color: #005B2F;">Connexion</h2>
  </div>

<ion-content>
 
<form (ngSubmit)="onSubmit(p)" #p="ngForm" >
  <p style="text-align: center; "> <strong style="text-align: center; color: red; font-size: small; padding: 5px;">{{ invalid }}</strong></p>
  <div id="container">
    
   
    <div class="form-controle">
      
      <div>
        <label>Email ou nom d'utilisateur</label>
        <input  type="email" placeholder="votremail@gmail.com" name="email" [(ngModel)]="email" required minlength="3">  
      </div>      
      <div>
        <label>Mot de passe</label>
        <input type="password" placeholder="******************" name="password" [(ngModel)]="password"> 
      </div>
        <input id="a" type="submit" style="color: #fff !important;" value="Se connecter" >
      
      
        <a class="gtext" style="text-align: center;" >
         <img src="../../assets/images/google.png" alt="" width="18px"  style="padding-right: 5px;"> <span>Continuer avec google</span>
        </a>
      

      <h5 style="text-align: center;">Pas de compte? <a routerLinkActive="" style="color: #005B2F !important; font-weight: bold;">Créer un compte</a></h5>
    </div>
  </div>
</form>

</ion-content>
