<ion-content>
<div id="container" style="display: grid;">
  <div class="img">
    <img src="../../../assets/images/Rectangle 17.png" alt="horaire" style="border-radius: 1%; width: 20vh; height: 100%;">
  </div>
  <div style="margin-top: -13vh;">
    <h2 style="color: #005B2F; text-align: center; margin-top: 78px;">Annonce</h2>
  </div>
  </div>
  <div>
    <ion-button shape="round" [routerLink]="['../annonce']" class="bbb" style=" --background: var(--ion-color, #005B2F);margin-left: 15px; height: 10px;">Ajouter</ion-button>
  </div>
  <ion-list>
    <ion-item class="liste">
      <ion-label class="ion-label">Batême de Maouloud</ion-label>   
      <ion-label style=" margin-left: 83px;  margin-right: -393px">  </ion-label> <ion-label > <img style="margin-left: 19vh;" src="../../../assets/images/Vector.png" [routerLink]="['../annonce-update']" alt="icon"> <img src="../../../assets/images/delete1.png" id="open-modal2" style="float: right;" alt="icon" ></ion-label>
     
    </ion-item>
   
    <ion-item class="liste">
      <ion-label class="ion-label">Doua</ion-label>   
      <ion-label style=" margin-left: 83px;  margin-right: -393px">  </ion-label> <ion-label > <img style="margin-left: 19vh;" src="../../../assets/images/Vector.png" [routerLink]="['../annonce-update']" alt="icon"> <img src="../../../assets/images/delete1.png" id="open-modal2" style="float: right;" alt="icon" ></ion-label>
       
    </ion-item>
    <ion-item class="liste">
      <ion-label class="ion-label">Fajr</ion-label>   
      <ion-label style=" margin-left: 83px;  margin-right: -393px">  </ion-label> <ion-label > <img style="margin-left: 19vh;" src="../../../assets/images/Vector.png" [routerLink]="['../annonce-update']" alt="icon"> <img src="../../../assets/images/delete1.png" id="open-modal2" style="float: right;" alt="icon" ></ion-label>
       
    </ion-item>
    
  </ion-list>
  <ion-footer>
    <div class="foot">
      <div class="retour">
        <img src="../../assets/images/Group 5.png"  [routerLink]="['/page-accueil-admin-mosque']" alt="retour">
      </div>
      <div class="profile">
        <img src="../../assets/images/profile.png" style="float: right;" alt="p">
      </div>
    </div>
  </ion-footer>
  <ion-modal
  trigger="open-modal2"
  [initialBreakpoint]="0.25"
  [breakpoints]="[0, 0.25, 0.5, 0.75]"
  handleBehavior="cycle">
  <ng-template>
    <ion-content class="ion-padding">
      <div class="ion-margin-top">
        <ion-label style="font-size: x-large;">Voulez-vous supprimer ?</ion-label>
      </div>
      <div class="modalB">
        <ion-button class="non" size="small">NON</ion-button>  <ion-button class="oui" size="small">OUI</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>
