header{
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;

}
.box{
color: #fff;
padding: 1.5rem;
background: #005B2F;
border-radius: 0 0 150px 0;
border: none;
}
ion-icon{
  font-size: 40px;
  color: #fff;
}
.search{
  margin: 1rem;
}
.container{
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin: 15px; 
  border-bottom: 0.5px solid rgb(222, 221, 221);
  overflow-x : hidden; 
  overflow-y : hidden; 
}
.contenu{
  display: flex;  
  align-items: center; 
  gap: 20px;
}


ion-badge{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 8px;
  background: #005B2F;
  color: #fff;
}
h1 , p{
  font-family: 'Poppins';

}
 .name ion-icon{
  color: #005B2F;
}

// .header{
//   display: flex;
//   align-items: center;
//   gap: 1rem;
// }
// span{
//   border-radius: 50%;
//   width: 30px;
//   height: 30px;
//   background: #005B2F;
//   color: #fff;
// }
// ion-badge{
//   border-radius: 50%;
//   width: 30px;
//   height: 30px;
//   padding: 8px;
//   background: #005B2F;
//   color: #fff;
// }
// h1 , p{
//   font-family: 'Poppins';
// }
// ion-item {
//   margin-top: 10px;
//   background: none;
// }

