<ion-header style="background-color: #fff;">
  <div class="box">
    <header>
      <a routerLink="/tabs/tab1">
        <ion-icon name="arrow-undo"></ion-icon>
      </a>
      <div class="title">
        <h1>PRECHES</h1>
        <span>Precheurs locaux</span>
      </div>

    </header>
  </div>

  <div class="search">
    <ion-searchbar placeholder="Recherche"></ion-searchbar>
  </div>

</ion-header>

<ion-content [fullscreen]="true" >

  <ion-list>

    <ion-item  *ngFor="let preacher of preachers">

      <ion-header class="header" [routerLink]="['/jouerAudio', preacher.audioUrl]">
        <!-- <span>num</span> -->
        <ion-badge slot="start">{{preacher.num}}</ion-badge>
        <ion-label >
          <ion-label>
            <h1>{{ preacher.name }}</h1>
            <p style="font-weight: bolder;">{{ preacher.description }}</p>
          </ion-label>
        </ion-label>
      </ion-header>


      <ion-list>
        <ion-label>
          <!-- <ion-icon [name]="preacher.isPlaying ? 'pause' : 'play'" size="large" color="black" style="cursor: pointer;" (click)="playPause(preacher)" ></ion-icon> -->
          <a href="../../assets/audios/preche1.mp3" download="nom-du-fichier-audio.mp3">
               <ion-icon name="arrow-down-circle-outline" size="large" color="black" style="cursor: pointer;"></ion-icon>
          </a>

        </ion-label>
      </ion-list>

    </ion-item>


  </ion-list>
</ion-content>
