<ion-header>
  <div class="head">
      <div class="left">
        <a tab="tab1" href="tabs/tab1">
          <img src="assets/images/icons8.png" alt="" width="50px">
        </a>
    </div>
    <div class="right">
      Listes des mosquées
    </div>
  </div>
  <div class="logo">
    <img src="assets/images/logo.png" alt="" srcset="">
  </div>
</ion-header>
<ion-content>
    <section class="liste">
        <div  *ngFor="let mosque of mosques">
            <div class="mosque">
                <div class="nom">
                  <p>{{ mosque.nom }}</p>
                </div>
                <div class="info">
                  <a (click)="openDetail(mosque)"><img src="assets/images/info.png" alt="Image 1"></a>
                </div>
                <div class="cloche">
                  <img src="assets/images/cloche.png" alt="Image 2">
                </div>
              </div>
              <p class="dist">3Km</p>
        </div>
      </section>
  </ion-content>
  
