<ion-content>
  <div class="retour">
    <!-- <ion-icon style="margin-left: -95px; width: 30px;"  name="arrow-undo-outline"></ion-icon> -->
    <img src="../../../assets/images/bak.png"  [routerLink]="['/admosque']" style="margin-top: 20px;" alt="">
  </div>
  <div id="container" style="display: grid;">
   
    <div class="img">
      <img src="../../assets/images/horaire.png" alt="horaire" style="border-radius: 50%; width: 15vh; height: 100%;">
    </div>
    <div style="margin-top: -8vh;">
      <h2 style="color: #005B2F;margin-top: 83px; text-align: center;">Horaire</h2>
    </div>
  </div>
  <ion-list>
    <ion-item class="liste">
      <ion-label>Fajr</ion-label>   <ion-label class="label2">05H20mn</ion-label> <ion-label><img id="present-alert" src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Chorouq</ion-label>  <ion-label class="label2">10H00mn</ion-label>  <ion-label><img  id="present-alert" src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Dohr</ion-label>   <ion-label class="label2">13H30mn</ion-label>   <ion-label><img  id="present-alert"  src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Asr</ion-label>   <ion-label class="label2">16H00mn</ion-label>  <ion-label><img  id="present-alert"  src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Maghreb</ion-label>   <ion-label class="label2">18H50mn</ion-label>  <ion-label><img  id="present-alert"  src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Icha</ion-label>    <ion-label class="label2">20H00mn</ion-label>    <ion-label><img  id="present-alert"  src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>  
    <ion-item class="liste">
      <ion-label>Djumah</ion-label>    <ion-label class="label2">13H00mn</ion-label>    <ion-label><img  id="present-alert"  src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>  
  </ion-list>
  
  
</ion-content>


<!-- Modal -->
<form action="horaire-liste" method="post">
<ion-alert
  trigger="present-alert"
  header="Modifier l'heure"
  [buttons]="alertButtons"
  [inputs]="alertInputs"
></ion-alert>
</form>
<!-- </ion-content> -->

