<ion-content>
  <div class="retour">
    <!-- <ion-icon style="margin-left: -95px; width: 30px;"  name="arrow-undo-outline"></ion-icon> -->
    <img src="../../../assets/images/bak.png"  [routerLink]="['/admosque']" style="margin-top: 20px;" alt="">
  </div>
  <div id="container" style="display: grid;">
   
    <div class="img">
      <img src="../../assets/images/horaire.png" alt="horaire" style="border-radius: 50%; width: 15vh; height: 100%;">
    </div>
    <div style="margin-top: -8vh;">
      <h2 style="color: #005B2F;margin-top: 83px; text-align: center;">Horaire</h2>
    </div>
  </div>
  <ion-list>
    <ion-item class="liste">
      <ion-label>Fajr</ion-label>   <ion-label class="label2">05H20mn</ion-label> <ion-label><img id="open-modal0" src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Chorouq</ion-label>  <ion-label class="label2">10H00mn</ion-label>  <ion-label><img  [routerLink]="['../horaire-modifier']"  src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Dohr</ion-label>   <ion-label class="label2">13H30mn</ion-label>   <ion-label><img  [routerLink]="['../horaire-modifier']" src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Asr</ion-label>   <ion-label class="label2">16H00mn</ion-label>  <ion-label><img  [routerLink]="['../horaire-modifier']" src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Maghreb</ion-label>   <ion-label class="label2">18H50mn</ion-label>  <ion-label><img  [routerLink]="['../horaire-modifier']" src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Icha</ion-label>    <ion-label class="label2">20H00mn</ion-label>    <ion-label><img  [routerLink]="['../horaire-modifier']" src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>  
    <ion-item class="liste">
      <ion-label>Djumah</ion-label>    <ion-label class="label2">13H00mn</ion-label>    <ion-label><img  [routerLink]="['../horaire-modifier']" src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>  
  </ion-list>
  
  
</ion-content>
<!-- <ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="Alert"
  subHeader="Important message"
  message="This is an alert!"
  [buttons]="alertButtons"
></ion-alert> -->

<!-- Modal -->

<ion-modal #modal trigger="open-modal0">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button color="black" (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
        <div>

        </div>
      </ion-toolbar>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- </ion-content> -->

