<ion-content>
  <div id="container" style="display: grid;">
    <div class="img">
      <img src="../../assets/images/horaire.png" alt="horaire" style="border-radius: 50%; width: 15vh; height: 100%;">
    </div>
    <div style="margin-top: -8vh;">
      <h2 style="color: #005B2F; text-align: center;">Horaire</h2>
    </div>
  </div>
  <ion-list>
    <ion-item class="liste">
      <ion-label>Fajr</ion-label>   <ion-label class="label2">5H20mn</ion-label> <ion-label><img src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Chorouq</ion-label>  <ion-label class="label2">14H00mn</ion-label>  <ion-label><img src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Dohr</ion-label>   <ion-label class="label2">13H00mn</ion-label>   <ion-label><img src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Asr</ion-label>   <ion-label class="label2">16H00mn</ion-label>  <ion-label><img src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Maghreb</ion-label>   <ion-label class="label2">18H50mn</ion-label>  <ion-label><img src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>
    <ion-item class="liste">
      <ion-label>Icha</ion-label>    <ion-label class="label2">20H00mn</ion-label>    <ion-label><img src="../../assets/images/Vector.png" style="float: right;" alt="icon"></ion-label>
    </ion-item>  
  </ion-list>
  <ion-footer>
    <div class="foot">
      <div class="retour">
        <img src="../../assets/images/Group 5.png" alt="retour">
      </div>
      <div class="profile">
        <img src="../../assets/images/profile.png" style="float: right;" alt="p">
      </div>
    </div>
  </ion-footer>
  
</ion-content>