<ion-header>
    <div class="head">
      <div class="left">
        <img src="assets/images/icons8.png" alt="" width="50px">
    </div>
    <div class="right">
       Listes des mosquées
    </div>
    </div>
  </ion-header>
  <ion-content>
    <div class="logo">
        <img src="assets/images/logo.png" alt="" srcset="">
    </div>
    <ion-content>
        <section class="liste">
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo">
              <p>3.5 Km</p>
            </div>   
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo">
              <p>3.5 Km</p>
            </div>   
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo3">
              <p>3.5 Km</p>
            </div>   
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo">
              <p>3.5 Km</p>
            </div>   
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo">
              <p>3.5 Km</p>
            </div>   
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo">
              <p>3.5 Km</p>
            </div>   
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo">
              <p>3.5 Km</p>
            </div>   
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo">
              <p>3.5 Km</p>
            </div> 
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo">
              <p>3.5 Km</p>
            </div>
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo">
              <p>3.5 Km</p>
            </div> 
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="kilo">
              <p>3.5 Km</p>
            </div>  
            <div class="mosque">
                <div>
                    <p>mosque Ar Rahmane</p>
                </div>
                <div class="info">
                    <img src="assets/images/info.png" alt="Image 1">
                </div>
                <div class="cloche">
                    <img src="assets/images/cloche.png" alt="Image 2">
                </div>
            </div>
            <div class="killo6">
              <p>3.5 Km</p>
            </div> 
    </section>

      </ion-content>
      

