<ion-header style="background-color: #fff;">
  <div class="box">
    <header>      
      <ion-icon (click)="closeDialog()"  name="close-circle"></ion-icon>
      
      <h1>{{detailSourate.englishName}} </h1>
    </header>
  </div>
</ion-header>

  <ion-content [fullscreen]="true">
  
    <h3>Surah : {{ detailSourate.name }}</h3>
    <div *ngFor="let ayah of detailSourate.ayahs ">
      <ion-badge slot="start">{{ ayah.numberInSurah }}</ion-badge>
      <p class="ayah-text">{{ ayah.text }}</p>
      
    </div>
  
</ion-content>