<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="header">

  </div>
  <div class="contenue">
    <img src="../../assets/images/profil.png" alt="">
    <h1>Nom et Prenoms</h1>
    <div class="membre">
      <h6>
       Membre depuis 24 Avr 2022
      </h6>
    </div>
    <div class="modifier">
      <h3>
        Modifier le profil
      </h3>
    </div>
    <div class="comment">
      <img src="../../assets/icon/comment.png" alt="img">
      <h3> Laissez nous un commentaire </h3>
    </div>
    <div class="comment">
      <img src="../../assets/icon/partage.png" alt="img">
      <h3> Partagez l'application </h3>
    </div>
    <div class="comment">
      <img src="../../assets/icon/don.png" alt="img">
      <h3>Faire un don </h3>
    </div>
      <button class="deconnexion">Déconnexion</button>
  </div>

</ion-content>
