<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>accueilsuperadmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">accueilsuperadmin</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<ion-tabs>
  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="accueilsuperadmin" href="/superadmin/accueilsuperadmin" >
  <ion-icon name="home"></ion-icon>
  Accueil
  </ion-tab-button>
  
  <ion-tab-button tab="profilesuperadmin" href="/superadmin/profilesuperadmin">
  <ion-icon name="person-circle-outline"></ion-icon>
  profile
  </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>