<ion-header>
  <div class="head">
    <div class="left" (click)="goBack()">
        <img src="assets/images/icons8.png" alt="" width="50px">
  </div>
  <div class="right">
     mosquées à proximité
  </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mapId" style="height:100%; width:100%;"></div>
  <!-- <section class="liste">
    <div *ngFor="let mosquee of mosqueeLocations" class="mosque">
      <div>
        <p>{{ mosquee.name }}</p>
      </div>
      <div class="kilo">
        <p>{{ distanceToMosque }} Km</p>
      </div>
    </div>
  </section> -->
  
</ion-content>
