<ion-header>
  <div class="head">
    <div class="left" (click)="goBack()">
        <img src="assets/icons8.png" alt="" width="50px">
  </div>
  <div class="right">
     mosquées à proximité
  </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="mapId" style="height:300px; width:100%;"></div>
  <section class="liste">
    <div class="mosque">
      <div>
          <p>mosque Ar Rahmane</p>
      </div>
      <div class="info">
          <img src="assets/info.png" alt="Image 1">
      </div>
      <div class="cloche">
          <img src="assets/cloche.png" alt="Image 2">
      </div>
    </div>
    <div class="kilo">
      <p>3.5 Km</p>
    </div>   
    <div class="mosque">
      <div>
          <p>mosque Ar Rahmane</p>
      </div>
      <div class="info">
          <img src="assets/info.png" alt="Image 1">
      </div>
      <div class="cloche">
          <img src="assets/cloche.png" alt="Image 2">
      </div>
    </div>
    <div class="kilo">
      <p>3.5 Km</p>
    </div>   
    <div class="mosque">
      <div>
          <p>mosque Ar Rahmane</p>
      </div>
      <div class="info">
          <img src="assets/info.png" alt="Image 1">
      </div>
      <div class="cloche">
          <img src="assets/cloche.png" alt="Image 2">
      </div>
    </div>
    <div class="kilo">
      <p>3.5 Km</p>
    </div>  
    <div class="mosque">
      <div>
          <p>mosque Ar Rahmane</p>
      </div>
      <div class="info">
          <img src="assets/info.png" alt="Image 1">
      </div>
      <div class="cloche">
          <img src="assets/cloche.png" alt="Image 2">
      </div>
    </div>
    <div class="kilo">
      <p>3.5 Km</p>
    </div>  
    <div class="mosque">
      <div>
          <p>mosque Ar Rahmane</p>
      </div>
      <div class="info">
          <img src="assets/info.png" alt="Image 1">
      </div>
      <div class="cloche">
          <img src="assets/cloche.png" alt="Image 2">
      </div>
    </div>
    <div class="kilo">
      <p>3.5 Km</p>
    </div>   
    <div class="mosque">
      <div>
          <p>mosque Ar Rahmane</p>
      </div>
      <div class="info">
          <img src="assets/info.png" alt="Image 1">
      </div>
      <div class="cloche">
          <img src="assets/cloche.png" alt="Image 2">
      </div>
    </div>
    <div class="kilo4">
      <p>3.5 Km</p>
    </div>   
</section>
</ion-content>
