

<div mat-dialog-title id="titre" *ngIf="!data"> Ajouter Des Mesures</div>
<div mat-dialog-title class="titre" *ngIf="data"> Modifier une date</div>
<div mat-dialog-content id="matback">
    <form  [formGroup]="mesureForm"  (ngSubmit)="onSubmit()">
        <div class="form-row-md-20" id="form">
          
          <div class="form-group col-sm">
            <label for="inputPassword4">Date</label>
            <input type="date" matInput class="form-control" id="date" formControlName="dateFransais" required >
          </div>   
        </div>
        <div class="form-group col-sm" id="grid">
            
            <button class="btn btn-secondary" mt-10 mat-raised-button type="button" [mat-dialog-close]="false">Retour</button>
            <button class="btn btn-primary" mt-10  mat-raised-button style="background-color: #26B08D;" type="submit" [disabled]="mesureForm.invalid">{{data ? 'Modifier': 'Enregistrer'}}</button>
        </div>
      </form>
</div>


