

<div id="containerOne" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../calendrier']" ></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/images/newcalendrier.png" width="40px" height="40px">
    <p style="margin-right: 20px; color: #fff;"> <strong>Modification de la date</strong></p>
  </div>
</div> 
<ion-content>
<div class="listuser animate__animated animate__fadeInUp ">
  
  
  
<form >
  <div id="container">
    
   
    <div class="form-controle">
      <h2 style="text-align: center; margin-top: 10px;"><strong >Hajj</strong></h2>  
      <div>
        <label><strong>Date d'évenement</strong></label>
        <input type="number"> 
      </div>
      <div class="frame">
        <button class="custom-btn btn-5" routerLink="" ><span>Modifier</span></button>
        </div>
    </div>
  </div>
</form>
  
  
</div>


  
</ion-content>
  


